{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Liste des questions
            </div>
            <div class="card-body">
                <form action="{% url 'polls:new-question' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-2 mr-sm-2">
                        <input
                            class="form-control mt-2 w-100"
                            type='text'
                            name="{{form.question_text.name}}"
                            placeholder="Nouvelle question">
                        <button
                            class="btn btn-dark mt-2"
                            type="submit">
                            +
                        </button>
                    </div>
                </form>
                {% for question in questions %}
                    <a href="{{question.get_absolute_url}}">
                        <div class="border p-1 mt-2">
                            {{question}} [{{question.get_total}}]
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}